.single-card {
  margin: 50px;
  border: 1px solid limegreen;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  background-color: black;
}

.planetName {
  color: limegreen;
  margin-top: 175px;
  margin-bottom: 175px;
  
}