$primary-color: limegreen;

.single-card {
  margin: 50px;
  border: 1px solid $primary-color;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  background-color: black;
  cursor: pointer;
 *{pointer-events: none;}  
}

.close {
  margin: 0px;
  color: RED;
  text-align: right;
  
}

.planetName {
  color: $primary-color;
  margin-top: 175px;
  margin-bottom: 175px;
}